@using System.Globalization

<tr class="@цвет_фона">
    @*<th scope="row"></th>*@
    <th scope="row" width="45%"><input class="form-control border-0 bg-transparent" @bind="@schedule_string.description" /></th>
    <th scope="row" width="10%">
        @if (время.ToShortTimeString() != "0:00")
        {
            <input type="time" class="form-control border-0 font-weight-bold bg-transparent" @bind="время" />
        }
        else
        {
            <input type="time" class="form-control border-0 text-white bg-transparent" style="@цвет_пустого_времени" @bind="время" />
        }
    </th>
    <th scope="row" width="20%">
        <select class="form-control border-0 bg-transparent" @bind="schedule_string.prayer" title="Тип публикации">
            @foreach (var t in type.GetNames(typeof(тип_службы)).ToList())
            {
                <option class="bg-light" value="@t">@schedule_string.GetDescription(Enum.Parse<тип_службы>(t))</option>
            }
        </select>
    </th>
    <th scope="row" width="10%">
        <select class="form-control border-0 bg-transparent" @bind="schedule_string.тип_праздника" title="Тип публикации">
            @foreach (var t in type.GetNames(typeof(тип_праздника)).ToList())
            {
                <option class="bg-light" value="@t">@schedule_string.GetDescription(Enum.Parse<тип_праздника>(t))</option>
            }
        </select>
    </th>
</tr>



@code {
    [Parameter]
    public schedule_string schedule_string { get; set; }

    private string цвет_фона, цвет_пустого_времени;

    public DateTime время
    {
        get {
            return DateTime.Parse(schedule_string.date_and_time.ToShortTimeString());
        }
        set
        {
            schedule_string.date_and_time = DateTime.Parse(String.Format("{0} {1}", schedule_string.date_and_time.ToShortDateString(), value.ToShortTimeString()));
        }
    }

    protected override void OnInitialized()
    {
        if (schedule_string.date_and_time.DayOfWeek==DayOfWeek.Sunday)
        {
            цвет_фона = "table-primary";
            цвет_пустого_времени = "color:#b8daff!important";
        }
    }
}
