@page "/posts/details/{id:int}"
@inject ICRUD<post> PostsService
@inject ICommentsService CommentsService
@inject ViewBagService ViewBagService  
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Microsoft.AspNetCore.Identity.UserManager<user> UserManager
@inject NavigationManager NavigationManager

<div class="card text-white bg-dark border-0 shadow">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <button class="btn btn-dark" @onclick="назад" title="Вернуться назад"><i class="fas fa-chevron-left"></i></button>
            <h4 class="card-title ml-2 mb-0">@post.title</h4>
        </div>

        <div class="small text-muted">@post.created.ToString("MM.dd.yyyy")</div>
    </div>
    <div class="card-body">
        @if (String.IsNullOrEmpty(post.content))
        {
            @((MarkupString)post.description)
        }
        else
        {
            @((MarkupString)post.content)
        }
    </div>
    @if (String.IsNullOrEmpty(post.content) && !String.IsNullOrEmpty(post.cover_image))
    {
        <img src="@post.cover_image" class="img-fluid">
    }
    <div class="card-footer">
        <div class=" d-flex align-items-center justify-content-between">
            <button class="btn btn-dark" @onclick="назад" title="Вернуться назад"><i class="fas fa-chevron-left mr-2"></i>Назад</button>
            <div id="commentbtn">
                <button class="btn btn-dark" data-toggle="collapse" data-target="#comments" title="Комментарии"><i class="far fa-comment-alt"></i>@{if (post.comments.Count() > 0) {<span class="ml-2">@post.comments.Count()</span> } }</button>
            </div>
        </div>        
    </div>
    <div id="comments" class="collapse">
        <razorHramBabynino.Pages.Posts.Post.Comment.Comments userName="@user.UserName" postId="id" comments="post.comments.ToList()" добавить="text=> добавитьКомментарий((string)text)" удалить="comment=>удалитьКомментарий((comment)comment)"></razorHramBabynino.Pages.Posts.Post.Comment.Comments>
    </div>
</div>



@code {
    [Parameter]
    public int id { get; set; }

    post post = new post();
    user user = new user();

    protected override async Task OnInitializedAsync()
    {
        post = await PostsService.itemByIdAsync(id);
        user = await userIdentity();
    }

    void назад()
    {
        NavigationManager.NavigateTo(ViewBagService.BackUrl);
    }

    void добавитьКомментарий(string text)
    {
        CommentsService.add(new comment { postID = post.ID, text = text, userId = user.Id, userName = user.UserName });
        post = PostsService.itemById(id);
    }

    void удалитьКомментарий(comment comment)
    {
        CommentsService.delete(comment);
        post.comments.Remove(comment);
    }

    async Task<user> userIdentity()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (state.User.Identity.IsAuthenticated)
        {
            return await UserManager.FindByNameAsync(state.User.Identity.Name);
        }
        else return new user();
    }
}
