@inject NavigationManager NavigationManager

    <div class="card bg-warning mb-3 border-warning shadow">
        <div class="row g-0">
            @if (!string.IsNullOrEmpty(post.cover_image)|| !string.IsNullOrEmpty(post.cover_video))
            {
            <div class="col-md-4 pr-md-0">
                @if (!string.IsNullOrEmpty(post.cover_video))
                {
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="@post.cover_video"></iframe>
                    </div>
                }
                else if (!string.IsNullOrEmpty(post.cover_image))
                {
                    <img class="img-fluid" src="@post.cover_image" />
                }
            </div>
            }
        <div class="col-md-8 pr-md-3 d-flex flex-column align-content-between">
            <div class="card-body text-white">
                <h4 class="card-title">@post.title</h4>
                @((MarkupString)post.description)
                <p class="card-text"><small class="text-muted">@post.created.ToString("MM.dd.yyyy")</small></p>
            </div>
            @if (!String.IsNullOrEmpty(post.content))
            {
                <div class="card-body pt-0 pb-lg-2">
                    <button class="btn btn-sm btn-dark" @onclick="()=>подробнее(post.ID)">Подробнее<i class="fas fa-chevron-right ml-2"></i></button>
                </div>
            }
        </div>
        </div>
    </div>

@code {
    [Parameter]
    public post post { get; set; }

    void подробнее(int id)
    {
        NavigationManager.NavigateTo($"/posts/details/{id}");
    }
}
