@inject NavigationManager NavigationManager

<div class="bg-warning mb-3 rounded d-flex">
    @if (!string.IsNullOrEmpty(post.cover_video))
    {
        <div class="embed-responsive embed-responsive-16by9 w-25 rounded-left">
            <iframe class="embed-responsive-item" src="@post.cover_video"></iframe>
        </div>
    }
    else if (!string.IsNullOrEmpty(post.cover_image))
    {
        <img class="img-fluid w-25 h-100 align-self-center rounded-left" src="@post.cover_image" />
    }
    <div class="m-3 flex-grow-1 d-flex flex-column justify-content-between">
        <div>
            <h4>@post.title</h4>
            <div class="text-muted small mb-1">@post.created.ToShortDateString()</div>
            <p>@((MarkupString)post.description)</p>
        </div>
        @if (!String.IsNullOrEmpty(post.content))
        {
            <div>
                <button class="btn btn-sm btn-dark" @onclick="()=>подробнее(post.ID)">Подробнее<i class="fas fa-chevron-right ml-2"></i></button>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public post post { get; set; }

    void подробнее(int id)
    {
        NavigationManager.NavigateTo($"/posts/details/{id}");
    }
}
