@inject NavigationManager NavigationManager

<div class="border border-warning mb-3 rounded d-flex shadow" style="background-color: rgb(254, 229, 159)">
    @if (!string.IsNullOrEmpty(post.cover_video))
    {
        <div class="embed-responsive embed-responsive-16by9 w-25 ml-1 rounded">
            <iframe class="embed-responsive-item" src="@post.cover_video"></iframe>
        </div>
    }
    else if (!string.IsNullOrEmpty(post.cover_image))
    {
        <img class="img-fluid w-25 h-100 align-self-center ml-1" src="@post.cover_image" />
    }
    <div class="m-3 flex-grow-1 d-flex flex-column justify-content-between">
        <div class="ml-1 mr-1">
            <h4 class="d-inline-block">@post.title</h4>   
            <span class="badge badge-warning badge-pill">объявление</span>            
            <div class="text-muted small mb-1">@post.created.ToString("MM.dd.yyyy")</div>
            <div class="mb-3">@((MarkupString)post.description)</div>
        </div>
        @if (!String.IsNullOrEmpty(post.content))
        {
            <div>
                <button class="btn btn-sm btn-dark" @onclick="()=>подробнее(post.ID)">Подробнее<i class="fas fa-chevron-right ml-2"></i></button>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public post post { get; set; }

    void подробнее(int id)
    {
        NavigationManager.NavigateTo($"/posts/details/{id}");
    }
}
