@using System.Globalization
@inject ISchedulesService SchedulesService


<div class="card h-100 border-0 rounded-0 mb-3 shadow" style="backdrop-filter: blur(25px); background: rgba(255,255,255,.75); border-radius:.3rem">
    <div class="card-body">
        <div class="table-responsive border-0">
            <table class="table" style="border-radius:.3rem">
                <thead>
                    <tr class="bg-secondary border-secondary text-white">
                        <th scope="col" class="mr-1">Дата</th>
                        <th scope="col">Праздник</th>
                        <th scope="col">Время</th>
                        <th scope="col">Богослужение</th>
                    </tr>
                </thead>
                <tbody>
                    @{int дата_предыдущего = 0; }
                    @foreach (var str in schedule)
                    {
                        if (дата_предыдущего != str.date_and_time.Day)
                        {
                            <Schedule_string schedule_string="str" date_show="true"></Schedule_string>
                            дата_предыдущего = str.date_and_time.Day;
                        }
                        else
                        {
                            <Schedule_string schedule_string="str" date_show="false"></Schedule_string>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<div style="display: flex; flex-direction: column; width: 100%; margin-bottom: 1.5em;">
    <div class="bg-white text-black"
         style="display: flex; align-items: center; justify-content: center; backdrop-filter: blur(20px); border-radius:.2em .2em 0 0; padding: .5em 1.5em;">
        <h3 style="margin:0; padding: 0; text-transform: uppercase ;">Расписание богослужений на март 2020 года</h3>
    </div>
    <div class="bg-white"
         style="display: flex; align-items:center; justify-content: space-between; backdrop-filter:blur(20px); font-weight: bold; column-gap:1.5rem; padding: .5em 1.5em;">
        <div style="flex: 3; display: flex; justify-content: start; margin-left: 1rem;">
            <div class="bg-white" style="padding:0 .5em .1em .5em; border-radius:.2em;">Дата</div>
        </div>
        <div style="flex: 12; display: flex; justify-content:space-between;">
            <div class="bg-white" style="padding:0 .5em .1em .5em; border-radius:.2em;">Праздник</div>
            <div class="bg-white" style="padding:0 .5em .1em .5em; border-radius:.2em;">Служба</div>
        </div>
        <div style="flex: 1; display: flex; justify-content:flex-end; margin-right: 1rem;">
            <div class="bg-white" style="padding:0 .5em .1em .5em; border-radius:.2em;">Время</div>
        </div>
    </div>
    <div style="display: flex; flex-direction: column; padding: 1.5em; background:rgba(255, 255, 255, .4); backdrop-filter: blur(20px);">
        @foreach (var str in schedule) {
        <div style="display: flex; align-items:center; justify-content: space-between; padding: .2em 1em; background:rgba(255, 255, 255, .15); column-gap: 1.5em; padding: .5em 1em; border-radius: .1em;">
            <div style="flex: 3; display: flex; flex-wrap: nowrap;">
                <div class="bg-black text-white"
                     style="padding:0 .5em .1em .5em; border-radius:.2em; font-size: .9em;">@str.date_and_time.Day, @CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.GetDayName(str.date_and_time.DayOfWeek)</div>
            </div>
            <div style="flex: 12; display: flex; flex-direction:row-reverse; columns: 17% 80% 3%; align-items:flex-start; justify-content: space-between;">
                <div style="display: flex; flex-direction: row; margin-left: 1em;">
                    <div class="bg-white"
                         style="padding:0 .5em .1em .5em; border-radius:.2em; margin-right: .2em; font-size: .9em;">
                        @str.prayer.ToString()
                    </div>
                </div>
                <div>@str.description</div>
            </div>
            <div style="flex: 1; display: flex; justify-content: flex-end; flex-wrap: nowrap;">
                <div class="bg-black text-white"
                     style="padding:0 .5em .1em .5em; border-radius:.2em; font-size: .9em;">@str.date_and_time.ToString("H:mm")</div>
            </div>
        </div>
        }
        <div class="bg-white"
             style="display: flex; align-items:center; justify-content: space-between; padding: .2em 1em; background:rgba(255, 255, 255, .4); column-gap: 1.5em; padding: .5em 1em;margin-top: .15em; border-radius: .1em;">
            <div style="flex: 3; display: flex; flex-wrap: nowrap;">
                <div class="bg-black text-white"
                     style="padding:0 .5em .1em .5em; border-radius:.2em; font-size: .9em;">
                    7 августа, воскресенье
                </div>
            </div>
            <div style="flex: 12; display: flex; flex-direction:row-reverse; columns: 17% 80% 3%; align-items:flex-start; justify-content: space-between;">
                <div style="display: flex; flex-direction: row; margin-left: 1em;">
                    <div class="bg-white"
                         style="padding:0 .5em .1em .5em; border-radius:.2em; margin-right: .2em; font-size: .9em;">
                        Литургия
                    </div>
                    <div class="bg-white"
                         style="padding:0 .5em .1em .5em; border-radius:.2em; margin-right: .2em; font-size: .9em;">
                        Молебен
                    </div>
                </div>
                <div>Пост</div>
            </div>
            <div style="flex: 1; display: flex; justify-content: flex-end; flex-wrap: nowrap;">
                <div class="bg-black text-white"
                     style="padding:0 .5em .1em .5em; border-radius:.2em; font-size: .9em;">10:00</div>
            </div>
        </div>
    </div>
    <div class="bg-white text-black"
         style="display: flex; align-items: center; justify-content: center; backdrop-filter: blur(20px); border-radius: 0 0 .2em .2em; padding: .5em 1em; ">
        <h3 style="margin:0; padding: 0; text-transform: uppercase ;">&nbsp;</h3>
    </div>
</div>*@


@code {
    [Parameter]
    public DateTime date { get; set; }

    [Parameter]
    public string title { get; set; }

    public List<schedule_string> schedule { get; set; }

    protected override async Task OnInitializedAsync()
    {
        schedule = SchedulesService.schedule(date);
    }
}